{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '../static/css/style.css'%}">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href={% url "index" %} class="logo">Planix Games</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src={% static "../static/img/index/menu.png" %} class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href={% url "index" %}>inicio</a></li>
                    <li><a href={% url "PlayStation" %}>PlayStation</a></li>
                    <li><a href={% url "nintendo" %}>Nintendo Switch</a></li>
                    <li><a href={% url "Xbox" %}>Xbox Series X</a></li>
                    <li><a href={% url "login" %}>Conectate</a></li>
                    <li><a href={% url "carrito" %}>Carrito</a></li>
                </ul>
            </nav>
            <div>
                <ul>
                    <li class="submenu">
                        <a href={% url "carrito" %}>
                            <img id="img-carrito" src={% static "../static/img/index/car.svg"%} alt="car">

                        </a>
                        <div id="carrito">
                            <table id="lista-carrito">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-3">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    {% block contenido %}

    {% endblock contenido %}

    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <h3>Horario de Atencion</h3>
                <ul>
                    <li><a href="#">Lunes a Viernes</a></li>
                    <li><a href="#">de 8:00 a 18:00</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Contacto</h3>
                <ul>
                    <li><a href={% url "contacto" %}>Contactenos a traves del</a></li>
                    <li><a href={% url "contacto" %}>Formulario o al email</a></li>
                    <li><a href={% url "contacto" %}>MatiasCagarneda@jueguitos.cl</a></li>
                    <li><a href={% url "contacto" %}>Enviar Formulario</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="js/script.js" ></script>
</body>
</html>