{% extends "aplicacion/base.html" %}
{% load static %}

    {% block contenido %}

    <section class="oferts container">

        <div class="ofert-1 b1">
            <div class="ofert-txt">
                <h3>Juegos de Playstation</h3>
                <a href={% url "PlayStation" %}>Clic aqui</a>
            </div>
            <div class="ofert-img">
                <img src= {% static "../static/img/index/s1.png" %} alt="">
            </div>
        </div>

        <div class="ofert-1 b2">
            <div class="ofert-txt">
                <h3>Juegos de Nintendo Switch</h3>
                <a href={% url "nintendo" %}>Clic aqui</a>
            </div>
            <div class="ofert-img">
                <img src={% static "../static/img/index/s2.png" %} alt="">
            </div>
        </div>

        <div class="ofert-1 b3">
            <div class="ofert-txt">
                <h3>Juegos de Xbox</h3>
                <a href={% url "Xbox" %}>Clic aqui</a>
            </div>
            <div class="ofert-img">
                <img src={% static "../static/img/index/s3.png"%} alt="">
            </div>
        </div>
    </section>

    <main class="products container">
        <h2>Mas comprados</h2>
        <div class="box-container" id="lista-1">
            <div class="box">
                <img src={% static "../static/img/index/pr1.png"%} alt="">
                <div class="product-txt">
                    <h3>Arms</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="1">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <div class="box">
                <img src={% static "../static/img/index/pr2.png"%} alt="">
                <div class="product-txt">
                    <h3>Fallout new vegas</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="2">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <div class="box">
                <img src={% static "../static/img/index/pr3.png"%} alt="">
                <div class="product-txt">
                    <h3>Farcry Primal</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="3">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <div class="box">
                <img src={% static "../static/img/index/pr4.png"%} alt="">
                <div class="product-txt">
                    <h3>Farycry 5</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="4">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <div class="box">
                <img src={% static "../static/img/index/pr5.png"%} alt="">
                <div class="product-txt">
                    <h3>Forza 5</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="5">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <div class="box">
                <img src={% static "../static/img/index/pr6.png"%} alt="">
                <div class="product-txt">
                    <h3>GTA V</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="6">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <div class="box">
                <img src={% static  "../static/img/index/pr7.png"%} alt="">
                <div class="product-txt">
                    <h3>Halo 5</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="7">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <div class="box">
                <img src={% static "../static/img/index/pr8.png"%} alt="">
                <div class="product-txt">
                    <h3>Mario Kart 8</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="8">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <div class="box">
                <img src={% static "../static/img/index/pr9.png"%} alt="">
                <div class="product-txt">
                    <h3>Mario Odyssey</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="9">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <div class="box">
                <img src={% static "../static/img/index/pr10.png"%} alt="">
                <div class="product-txt">
                    <h3>Metal Gear Solid V</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="10">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <div class="box">
                <img src={% static "../static/img/index/pr11.png"%} alt="">
                <div class="product-txt">
                    <h3>Resident evil 7</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="11">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <div class="box">
                <img src={% static "../static/img/index/pr12.png"%} alt="">
                <div class="product-txt">
                    <h3>Splatoon</h3>
                    <p>¡Ultimas unidades!</p>
                    <p class="precio">$49.990</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="12">
                        Agregar al carrito
                    </a>
                </div>
            </div>
        </div>
        <div class="btn-2" id="load-more">Cargar mas</div>
    </main>

    <section class="testimonial container">
        <span>Testimoniales</span>
        <h2>Que opinan nuestros clientes</h2>
        <div class="testimonial-content">
            <div class="testimonial-1">
                <p>
                    Excelente servicio envio expedito
                </p>
                <img src={% static "../static/img/index/stars.png"%} alt="">
                <h4>Manuelito Gamer</h4>
            </div>
            <div class="testimonial-1">
                <p>
                    Buenas ofertas
                </p>
                <img src={% static "../static/img/index/stars.png"%} alt="">
                <h4>Matias Aracneda</h4>
            </div>
        </div>
    </section>

    {% endblock contenido %}