{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="{% static '../static/css/style.css'%}">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href={% url "index" %} class="logo">Planix Games</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src={% static "../static/img/index/menu.png" %} class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href={% url "index" %}>inicio</a></li>
                    <li><a href={% url "PlayStation" %}>AGOTADO</a></li>
                    <li><a href={% url "nintendo" %}>Nintendo Switch</a></li>
                    <li><a href={% url "Xbox" %}>AGOTADO</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'perfil' %}">Usuario</a></li>  <!-- Botón para ver perfil -->
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="nav-link px-5 text-light" type="submit" > <strong>{{user.username}}  | Cerrar Sesión</strong></button>
                    </form> 
                    {% else %}
                    <a class="nav-link px-5 text-light" href="{% url 'login' %}" ><strong>Conectate</strong></a>
                    {% endif %}
                </ul>
                </ul>
            </nav>
            <div>
                <ul>
                    <li class="submenu">
                        <a href={% url "carrito" %}>
                            <img id="img-carrito" src={% static "../static/img/index/car.svg"%} alt="car">

                        </a>
                        <div id="carrito">
                            <table id="lista-carrito">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-3">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    
    </header>

    <section class="profile container">
        <h2>Perfil de Usuario</h2>
        <div class="user-info">
            <h3>{{ user.username }}</h3>
            <p>Correo electrónico: {{ user.email }}</p>
            {% if user.persona %}
            <p>Nombre: {{ user.persona.nombre }}</p>
            <p>Apellidos: {{ user.persona.apellidos }}</p>
            <p>Teléfono: {{ user.persona.telefono }}</p>
            <p>Dirección: {{ user.persona.direccion }}</p>
            <p>Dirección: {{ user.persona.tipo_usuario }}</p>
            {% endif %}
        </div>

        <div class="order-history">
            <h3>Historial de Pedidos</h3>
            {% if user.compra.all %}
            <ul>
                {% for compra in user.compra.all %}
                <li>
                    <strong>Pedido #{{ compra.id }} - Fecha: {{ compra.fecha }}</strong>
                    <ul>
                        {% for producto in compra.productos.all %}
                        <li>{{ producto.nombre }} - Cantidad: {{ producto.cantidad }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No hay pedidos realizados.</p>
            {% endif %}
            
        </div>
    </section>
    
    <div class="container">
        <div class="row">
            <div class="col">

                <h2 class="mb-3">Detalles del Pedido</h2>
                <p class="lead mb-4">Estado Envio: PENDIENTE DE ENVIO{{ pedidoproducto.pedido }} </p>
                <p class="lead mb-4">Total a Pagado: $ {{ total_carrito }}</p>

                <a href={% url "index" %} class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <h3>Horario de Atencion</h3>
                <ul>
                    <li><a href="#">Lunes a Viernes</a></li>
                    <li><a href="#">de 8:00 a 18:00</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Contacto</h3>
                <ul>
                    <li><a href={% url "contacto" %}>Contactenos a traves del</a></li>
                    <li><a href={% url "contacto" %}>Formulario o al email</a></li>
                    <li><a href={% url "contacto" %}>MatiasCagarneda@jueguitos.cl</a></li>
                    <li><a href={% url "contacto" %}>Enviar Formulario</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="js/script.js" ></script>
</body>
</html>
