{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Productos</title>
    <link rel="stylesheet" href="{% static '../static/css/stats.css'%}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    {% if perms.aplicacion.add_producto %}
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li>
                <a href={% url "dashboard"%}>
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                
                <a href={% url "Usuarios"%}>
                    <i class="fa-solid fa-circle-user"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            <li class="active">
                <a href={% url "Productos"%}>
                    <i class="fa-solid fa-cart-plus"></i>
                    <span>Productos</span>
                </a>
            </li>
            <li>
                <a href={% url "Estadisticas"%}>
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>Estadísticas</span>
                </a>
            </li>

            <li>
                <a href={% url "index"%}>
                    <i class="fa-solid fa-door-open"></i>
                    <span>Cerrar sesión</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
                <span>Productos</span>
                <h2>Dashboard</h2>
            </div>
            <div class="user--info">                
            <img src={% static "../static/img/perfil.png"%} alt="">
        </div>
    </div>



<div class="container">
    <h1>Editar Producto</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form">            
                {% csrf_token %}
                {{form | crispy}}
            <input type="submit" onclick= 'return enviarFormularioProductos();' value='Confirmar Cambios'>            
            </div>   
        </form>
        <a href={% url "EditarProductos"%}>Editar Productos Publicados</a>
    <div id='error'></div>

</div>

<div class="link_producto">
    

</div>
<script src="{% static 'js/form.js' %}"></script>  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

     
</body>
{% endif %}
</html>