{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="{% static '../static/css/stats.css'%}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

</head>
<body>
    {% if perms.aplicacion.add_producto %}
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li>
                <a href={% url "dashboard"%}>
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="active">
                
                <a href={% url "Usuarios"%}>
                    <i class="fa-solid fa-circle-user"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            <li>
                <a href={% url "EditarProductos"%}>
                    <i class="fa-solid fa-cart-plus"></i>
                    <span>Productos</span>
                </a>
            </li>


            <li>
                <a href={% url "index"%}>
                    <i class="fa-solid fa-door-open"></i>
                    <span>Cerrar sesión</span>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
                <span>Usuarios</span>
                <h2>Dashboard</h2>
            </div>
            <div class="user--info">
                
            <img src={% static "../static/img/perfil.png"%} alt="">
        </div>
    </div>

    
    <div class="tabular--wrapper">
        <h3 class="main--title">Datos de los Usuarios</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Alias</th>
                        <th>Correo</th> 
                        <th>Modificar Usuario</th> 
                        <th>Eliminar Usuario</th> 


                    </tr>
                </thead>
                    <tbody>
                        {% for user in users %}
                       
                        <tr>
                            <td>{{ user.first_name }}</td> 
                            <td>{{ user.last_name }}</td> 
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>  
                            <td>
                                <a href="{% url 'UsuariosJs' user.id %}" class="btn btn-info">Modificar</a>
                            </td>
                            <td>
                                <a href="{% url 'elimUsuario' user.id %}" class="btn btn-danger">Eliminar</a>
                            </td>       
                        </tr> 
 
                        {% endfor %} 
                                              
                    </tbody>
                    <tfoot>
                        <tr>

                        </tr>
                    </tfoot>                
            </table>
        </div>
    </div>
    </div>
</body>
{% endif %}
</html>